<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="dropdown pull-left">
				<a class="brand" href="http://tmaiaroto.github.io/sandbox/">Shift<sup style="color: #fc7f0d;">8</sup> Sandbox</a>
			</div>
			
			<!-- TODO: Angulaar.js ... duh  =)  -->
			<!--
			<ul id="navlist" class="nav">
				<li class="{% if page.path == 'blog/index.html' %}active{% endif %}"><a href="/sandbox/blog">Blog</a></li>
				<li><a href="https://github.com/tmaiaroto/sandbox/issues" target="_blank">Issues</a></li>
			</ul>
			-->
		</div>
	</div>