---
layout: blog
title: The Sandbox Blog
---


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<h1><a href="/sandbox{{ post.url }}">{{ post.title }}</a></h1>
<p class="author">
    <span class="date">{{ post.date | date: "%d %B %Y" }}</span>
</p>
<div class="content">
    {{ post.content }}
</div>
{% endfor %}

	<!-- Pagination links -->
	<div class="pagination">
		<ul class="pages">
			<!-- PREVIOUS PAGE -->
			<li>
			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<a href="/sandbox/blog">&laquo;</a>
				{% else %}
					<a href="/sandbox/blog/page{{ paginator.previous_page_path }}">&laquo;</a>
				{% endif %}

			{% else %}
				<span class="previous disabled">&laquo;</span>
			{% endif %}
			</li>

			<!-- PAGE NUMBERS -->
			<li class="page">
				{% if paginator.page == 1 %}
					<span class="current-page">1</span>
				{% else %}
					<a href="/sandbox/blog">1</a>
				{% endif %}
			</li>

			{% for count in (2..paginator.total_pages) %}
			<li class="page">
				{% if count == paginator.page %}
					<span class="current-page">{{ count }}</span>
				{% else %}
					<a href="/sandbox/blog/page{{ count }}">{{ count }}</a>
				{% endif %}
			</li>
			{% endfor %}

			<!-- NEXT PAGE -->
			<li>
				{% if paginator.next_page %}
					<a href="/sandbox/blog/page{{ paginator.next_page }}" class="next">&raquo;</a>
				{% else %}
					<span class="next ">&raquo;</span>
				{% endif %}
			</li>
		</ul>

		<br />
		<small style="color: #ccc;"><em><span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span></em></small>
	</div>